*{box-sizing: border-box;}

body,html{
    margin:0px;
    padding:0px;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:35px;
    border:2px solid yellow;
    margin-bottom: 0px;
}

.box1{
    display: flex;
    width:70px;
    height:70px;
    border:2px solid black;
    background-color: yellow;
}

.container2 {
    position: absolute;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:510px;
    margin:15px;
    margin-left: 120px;
    border:2px solid rgb(20, 47, 186);
}

.box2{
    /*position:relative;
    bottom:260px;*/
    display: flex;
     justify-content: center;
    align-content: center;
    width:70px;
    height:70px;
    border:2px solid black;
    background-color: yellow;
}
 