* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.navbar {
  overflow: hidden;
  background-color: #f7e9ff;
  /* Soft purple color */
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.navbar a {
  float: left;
  font-size: 2vw;
  color: #6b387e;
  /* Darker purple color */
  text-align: center;
  padding: 1.4vw 1.6vw;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.bio {
  float: left;
  overflow: hidden;
}

.bio .dropbutton {
  font-size: 2vw;
  border: none;
  outline: none;
  color: #6b387e;
  /* Darker purple color */
  padding: 1.4vw 1.6vw;
  background-color: inherit;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.navbar a:hover,
.bio:hover .dropbutton {
  background-color: #e7fdd4;
  /* Light green color */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff9db;
  /* Pale yellow color */
  min-width: 16vw;
  box-shadow: 0px 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  float: none;
  color: #6b387e;
  /* Darker purple color */
  padding: 1.2vw 1.6vw;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f0fff0;
  /* Pale green color */
}

.bio:hover .dropdown-content {
  display: block;
}







/*CSS for TimeTable Below*/

/* @keyframes backg {
    from {background-color: cornflowerblue;}
    to {background-color:rgb(21, 64, 93) ;}}
    
body{
    background-color: cornflowerblue;
    font-family: 'Roboto', sans-serif;

    animation-name: backg;
    animation-duration: 26s;
} */

/*Here I used some animation to challenge myself and it worked. 
My next self challenge will be to have the text run into the container.*/

/* @keyframes name {
    from{color:black;}
    to {color: whitesmoke;}
}

#title{text-align: center;
font-size: 36px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
animation-name:name;
animation-duration: 26s;}

.timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    
}

.timeline::after{
    content:'';
    position:absolute;
    width: 6px;
    background-color: wheat;
    top:0;
    bottom: 0;
    left:50%;
    margin-left:-3px;
} */

.container {
    padding:10px 40px;
    position:relative;
    background-color: inherit;
    width:50%;
    
}

.container:after{
    content:'';
    position: absolute;
    width: 25px;
    height: 25px;
    right:-17px;
    background-color: aqua;
    border: 4px solid lightsalmon;
    top: 15px;
    border-radius:50%;
    z-index:1;
}
/* 
.left {left:0;}

.right{left:50%;}

.left::before{
    content:"";
    height:0;
    position:absolute;
    top:22px;
    width:0;
    z-index:1;
    right:30px;
    border:medium solid white;
    border-width:2px 6px 2px 490px;
    border-color: transparent transparent transparent rgb(244, 119, 10);
}

.right::before{
    content:"";
    height:0;
    position:absolute;
    top:22px;
    width:0;
    z-index:1;
    right:30px;
    border:medium solid white;
    /*Here I tried to reverse the direction of the orange arrow but couldn't
    figure it out*/
    border-width:2px 6px 2px 490px;
    border-color: transparent transparent transparent rgb(244, 119, 10);
}

.right::after{
    left:-16px;
}

/*Here I am challenging myself to use onscroll using the Intersection Observer API*/
@keyframes onscroll {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .content {
      animation-name: onscroll;
      animation-duration: 2s;
      animation-iteration-count:1;
      padding:20px 30px;
      background-color: rgba(244, 249, 247, 0.881);
      position: relative;
      border-radius:18px;
    }
  }
.content p,h2{font-family: 'Roboto', sans-serif;}
   /*CSS For the Footer*/

   @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

   * {
     font-family: Open Sans;
   }
   
   .footer-distributed{
     background: #666;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
     box-sizing: border-box;
     width: 100%;
     text-align: left;
     font: bold 16px sans-serif;
     padding: 55px 50px;
   }
   
   .footer-distributed .footer-left,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right{
     display: inline-block;
     vertical-align: top;
   }
   
   /* Footer left */
   
   .footer-distributed .footer-left{
     width: 40%;
   }
   
   /* The company logo */
   
   .footer-distributed h3{
     color:  #ffffff;
     font: normal 36px 'Open Sans', cursive;
     margin: 0;
   }
   
   
   /* Footer links */
   
   .footer-distributed .footer-links{
     color:  #ffffff;
     margin: 20px 0 12px;
     padding: 0;
   }
   
   .footer-distributed .footer-links a{
     display:inline-block;
     line-height: 1.8;
     font-weight:400;
     text-decoration: none;
     color:  inherit;
   }
   
   .footer-distributed .footer-company-name{
     color:  #222;
     font-size: 14px;
     font-weight: normal;
     margin-bottom: 0;
   }
   
   /* Footer Center */
   
   .footer-distributed .footer-center{
     width: 35%;
   }
   
   .footer-distributed .footer-center i{
     background-color:  #33383b;
     color: #ffffff;
     font-size: 25px;
     width: 38px;
     height: 2px;
     border-radius: 50%;
     text-align: center;
     line-height: 42px;
     margin: 10px 15px;
     vertical-align: middle;
   }
   
   .footer-distributed .footer-center i.fa-envelope{
     font-size: 17px;
     line-height: 38px;
   }
   
   .footer-distributed .footer-center p{
     display: inline-block;
     color: #ffffff;
     font-weight:400;
     vertical-align: middle;
     margin:0;
   }
   
   .footer-distributed .footer-center p span{
     display:block;
     font-weight: normal;
     font-size:14px;
     line-height:2;
   }
   
   .footer-distributed .footer-center p a{
     color:  lightseagreen;
     text-decoration: none;;
   }
   
   .footer-distributed .footer-links a:before {
     content: "|";
     font-weight:300;
     font-size: 20px;
     left: 0;
     color: #fff;
     display: inline-block;
     padding-right: 5px;
   }
   
   .footer-distributed .footer-links .link-1:before {
     content: none;
   }
   
   
   .footer-links:hover{
     font-size: 24px;
   }
   
   
   /* Footer Right */
   
   .footer-distributed .footer-right{
     width: 20%;
   }
   
   .footer-distributed .footer-company-about{
     line-height: 20px;
     color:  #92999f;
     font-size: 18px;
     font-weight: normal;
     margin: 0;
   }
   
   .footer-distributed .footer-company-about span{
     display: block;
     color:  #ffffff;
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
   }
   
   .footer-distributed .footer-icons{
     margin-top: 25px;
   }
   
   .footer-distributed .footer-icons a{
     display: inline-block;
     width: 35px;
     height: 35px;
     cursor: pointer;
     background-color:  #33383b;
     border-radius: 2px;
   
     font-size: 20px;
     color: #ffffff;
     text-align: center;
     line-height: 35px;
   
     margin-right: 3px;
     margin-bottom: 5px;
   }
   
   /* If you don't want the footer to be responsive, remove these media queries */
   
   @media (max-width: 880px) {
   
     .footer-distributed{
       font: bold 14px sans-serif;
     }
   
     .footer-distributed .footer-left,
     .footer-distributed .footer-center,
     .footer-distributed .footer-right{
       display: block;
       width: 100%;
       margin-bottom: 40px;
       text-align: center;
     }
   
     .footer-distributed .footer-center i{
       margin-left: 0;
     }
   
   }
    */


 