* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #f7e9ff;
    /* Soft purple color */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    z-index:2;
}

.navbar a {
    float: left;
    font-size: 2vw;
    color: #6b387e;
    /* Darker purple color */
    text-align: center;
    padding: 1.4vw 1.6vw;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.bio {
    float: left;
    overflow: hidden;
}

.bio .dropbutton {
    font-size: 2vw;
    border: none;
    outline: none;
    color: #6b387e;
    /* Darker purple color */
    padding: 1.4vw 1.6vw;
    background-color: inherit;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.navbar a:hover,
.bio:hover .dropbutton {
    background-color: #e7fdd4;
    /* Light green color */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff9db;
    /* Pale yellow color */
    min-width: 16vw;
    box-shadow: 0px 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.dropdown-content a {
    float: none;
    color: #6b387e;
    /* Darker purple color */
    padding: 1.2vw 1.6vw;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f0fff0;
    /* Pale green color */
}

.bio:hover .dropdown-content {
    display: block;
}



.title-name {
    position: absolute;
    font-family: 'Lato', sans-serif;
    bottom: 2vw;
    right:22vw;
    z-index: 3;
    color: black;
    padding:1vw;
    background-color: rgb(247, 233, 255, .2);
    font-size: 5vw;
    transition: box-shadow 0.3s ease;
}

.title-name:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.9);
    text-shadow: 1.5px 1.5px 2px #008080;
}
  
  .title-name::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .title-name:hover::after {
    opacity: 1;
  }

.container .quote {
    position: absolute;
    font-family: cursive;
    bottom: 9vw;
    font-size: 2.4vw;
    font-style: italic;
    text-align: left;
    margin-left: 1vw;
    max-width: 60%;
    position: relative;
    animation: fadeOut 10s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.2);
    }

    90% {
        opacity: 1;
        text-shadow: 0.2vw 0.2vw 0.4vw rgba(0, 0, 0, 0.2);
    }

    100% {
        opacity: 0;
        text-shadow: none;
    }
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.headshot {
    width: 46.8vw;
    height: 62.8vw;
    position: relative;
    margin-right: 2vw;
}

.headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1.4vw solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.2), 0 0 5vw rgba(0, 0, 0, 0.1) inset;
    filter: drop-shadow(0 0 1vw rgba(0, 0, 0, 0.2));
}

.headshot::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 1vw;
    box-shadow: 0 0 3vw 1vw rgba(0, 0, 0, 0.3);
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.baby-hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.baby-hand video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(1.2) contrast(1.2);
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.personal-quote {
    text-align: center;
    font-family: cursive;
    font-style: italic;
    color: rgb(147, 112, 219);
    position: relative;
    top: -10vh;
    /* Adjust the value to move the element higher */
    margin-left: 4vw;
    /* Adjust the value to increase the left margin */
    z-index: 2;
}

.quote {
    font-size: 3.2vw;
    -webkit-text-stroke: 0.05vw rgb(255, 127, 80);
    /* Add a white stroke around the text */
    -webkit-text-fill-color: rgb(147, 112, 219);
    /* Set the text color to black */
}

.headshot {
    width: 468px;
    height: 628px;
    position: relative;
    margin-top: 40px;
    /* Adjust the margin-top value as needed */
    margin-bottom: 40px;
    /* Adjust the margin-bottom value as needed */
    margin-right: 20px;
}

.headshot img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 14px solid rgba(255, 255, 255, 0.1);
    /* Adjust the border color and opacity */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    /* Adjust the box shadow */
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

@media screen and (max-width: 768px) {
    /* Styles for screens with a maximum width of 768px (e.g., tablets) */

    .navbar a,
    .bio .dropbutton {
        font-size: 4vw;
        padding: 2.8vw 3.2vw;
    }

    .dropdown-content {
        min-width: 32vw;
        box-shadow: 0px 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        padding: 2.4vw 3.2vw;
    }

    .quote {
        font-size: 3.2vw;
        margin-left: 4vw;
    }

    .headshot {
        width: 40vw;
        height: auto;
        margin-right: 4vw;
    }
}

@media screen and (max-width: 480px) {
    /* Styles for screens with a maximum width of 480px (e.g., mobile devices) */

    .navbar a,
    .bio .dropbutton {
        font-size: 6vw;
        padding: 4.2vw 4.8vw;
    }

    .dropdown-content {
        min-width: 48vw;
        box-shadow: 0px 0.8vw 1.6vw 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
        padding: 3.6vw 4.8vw;
    }

    .quote {
        font-size: 4.8vw;
        margin-left: 6vw;
    }

    .headshot {
        width: 70vw;
        height: auto;
        margin-right: 6vw;
    }
}