* {
    box-sizing: border-box;
}


body,
html {
    margin: 0;
    padding: 0;
}

body{
    background-image:url(Sky.jpg);
    /*opacity: .8;*/
}

.heading{
        font-family: 'Oswald', sans-serif;
        font-size: 48px;
        color: rgb(49, 238, 49);
        letter-spacing: 1px;
        text-align: center;
        text-shadow:2px 2px 4px rgb(217, 217, 27);
        background-color: rgb(190, 31, 102, .5);
        border-radius: 20px;
        width:680px;
        margin-left: 420px;}

.titlenames , .titleimages{
    position:absolute;
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    color:white;
    background-color: rgb(128, 128, 128, 0.3);
        }

.titlenames{
margin-left: 1110px;
margin-top: -46px;
}

.titleimages{
margin-left: 300px;
margin-top:-46px;
}

@keyframes titles {
    from {background-color: rgb(128, 128, 128, 0.3);}
    to {background-color:rgb(255, 222, 65);}}
    
.titlenames , .titleimages{
    background-color: rgb(128, 128, 128, 0.3);
    font-family: 'Oswald', sans-serif;
    border-radius: 36px;
    padding:10px;
    animation-name: titles;
    animation-duration: 60s;
}


section{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: -38px;
    
  }

.container, .connames{
    margin-top: 60px;
    display:flex;
    flex-wrap:wrap;
    justify-items: center;
    width:45%;
    margin-left: 30px;
    
    
}

  img, .textBoxes{
    width: 145px;
    height: 145px;
    margin:7px;
    border: 3px solid lightgreen;
    transition: all 1s;
    box-shadow: 3px 3px;
  }

  img:hover, .textBoxes:hover{
    transform: scale(2.1)
  }

.textBoxes{
    background-color: rgb(216, 216, 172);
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
    padding:26px;
    

}




  /*.textBoxes{
    border: 3px solid lightgreen;
  }

 /* .textBoxes:hover{
    transform:scale(1.1);
  }
  